<div class="align-middle text text-center">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow">
                <h2 class="mt-3">Buy Your favourite products HERE !!!</h2>
                <div class="card-body">
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                        <button [routerLink]="['/products']" style="flex-basis: 250px;" class="btn btn-outline-dark mr-3">
                            View Products
                        </button>
                        <button [routerLink]="['/orders']" style="flex-basis: 250px;" class="btn btn-outline-dark">View Orders</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
