<p>register Component works!</p>
<br />
<div class="row text-center">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header bg bg-info text-dark">
        <h4>User Login</h4>
      </div>
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="verify()">  <!-- Line 9 -->
          <div class="form-group">
            <label for="uName">User Name:</label>
            <input type="text" id="uName" class="form-control" required [(ngModel)]="userName" name="userName" #uName="ngModel"/>
            <div [hidden]="uName.valid || uName.pristine" class="alert alert-danger">
                User Name is required
            </div>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" id="pwd" class="form-control" [(ngModel)]="password" required name="password" #pwd="ngModel" />
            <div *ngIf="pwd.valid && pwd.untouched" class="alert alert-danger">
                Password is required
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-info" type="submit">Login</button>
          </div>
        </form>
        <div *ngIf="errorMessage!=null">
          <span class="text-danger font-weight-bold">{{errorMessage}}</span>
        </div>
        <div *ngIf="successMessage!=null">
          <span class="text-success font-weight-bold">{{successMessage}}</span>
        </div>
      </div>
    </div>
  </div>
</div>